ol {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

li:before {
  content: "Viikko / Week " counter(elementcounter) ":   ";
  counter-increment: elementcounter;
  font-weight: bold;
}